footer {
    padding: 0;
}

.copyright-wrapper {
    background-color: #00a1e0;
    align-items: center;
    justify-content: center;
}

.copyright-notice{
    display: flex;
    justify-content: center;
    align-items: center;
}
