.footer-top {
    background-color:#00a1e0;
    padding: 20px;
}
.template-title {
    text-align: center;
    padding: 10px 0 10px 0;
    font-weight: bold;
}
.template-subtitle {
    text-align: center;
    padding: 10px 0 10px 0;
    font-weight: bold;
}
.text-title {
    text-align: start;
    padding: 10px 0 10px 0;
    font-weight: bold;
}
.text-content {
    text-align: start;
    padding: 10px 0px 10px 0px;
}